body {
  background: #de0069;
}

.App {
  margin-top: 32px;
}

h1, h2 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.box {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background: #c5c5c5;
  text-align: center;
}

.box-text {
  line-height: 200px;
  color: #8b8b8b;
  font-size: 2.6rem;
  font-weight: 200;
}
